* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Estilos do header */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 34px;
  }
  
  .logo img {
    width: 300px;
    height: auto;
    cursor: pointer;
  }
  
  .menu {
    display: flex;
  }
  
  .menu a {
    color: #000;
    text-decoration: none;
    margin-left: 20px;
  }
  
  /* Estilos do menu hambúrguer */
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
    color: #000;
  }
  
  /* Estilos do menu dropdown */
  .menu-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 20px;
  }
  
  .menu-dropdown.show {
    display: block;
  }
  
  .menu-dropdown a {
    display: block;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  /* Estilos do footer */
  .footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilos da seção de contato */
  .contact-section {
    margin-top: 200px;
    left: 100px;
    padding: 40px;
  }
  
  .contact-section input[type="email"],
  .contact-section input[type="tel"] {
    width: 40%;
    padding: 10px;
    margin-top: 50px;
  }
  .botao-enviar {
    background:#2B2525;
    width: 100px;
    height: 30px;
    font-size: medium;
}
  /* Estilos da seção de serviços */
  .services-section {
    padding: 40px;
  }
  
  .service {
    margin-bottom: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .menu {
      display: none;
    }
    
    .menu-icon {
      display: block;
    }
    
    .header {
      justify-content: space-between;
    }
  }